.App {
  text-align: center;
  background-color: #080237;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: #080237;
}

.App-ListContainer {
  background-color: white;
  border-radius: 10px;
  margin: 20px 0;
  width: 60%;
}

.App-logo {
  height: 25vmin;
  margin: 30px 0;
}

.App-input {
  width: 60vmin;
  height: 25px;
}